.descriptionInput {
    height: 360px;
    font-size: 16px;
}

.hideWrap {
    display: flex;
    align-items: center;
    margin-top: 31px;
}

.hideLabel {
    margin-right: 41px;
}

.modal {
    width: 946px;
}
