@import '../../../styles/config';

.descriptionContainer {
    margin-top: 48px;
}

.descriptionInput {
    height: 116px;
}

.inviteSection {
}

.inviteSwitches {
    display: flex;
    justify-content: space-between;
}

.inviteSwitch {
    display: flex;
    width: 158px;
    align-items: center;
    justify-content: space-between;
}

.inviteSwitchLabel {
}
.formSectionDescription {
    font-weight: normal;
    font-size: 14px;

    color: #333333;

    margin-top: 5px;
}
.formDescription {
    margin: 0;
}
